<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>3B</key>
	<string>3B</string>
	<key>4B</key>
	<string>4B</string>
	<key>4A</key>
	<string>4A</string>
	<key>3A</key>
	<string>3B</string>
	<key>2B</key>
	<string>2B</string>
	<key>2A</key>
	<string>2B</string>
	<key>1B</key>
	<string>1B</string>
	<key>1A</key>
	<string>1A</string>
</dict>
</plist>
